.homepage {
    color:white;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.homepage h1{
    margin-top: 30px;
    margin-bottom: 30px;
}

.modes{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 20px;
    padding-bottom: 20px;
}

.mode button {
    background-color: aquamarine;
    color: black;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 aquamarine;
}

.mode button:hover{
    background-color: blueviolet;
    color: white;
    box-shadow: 0 8px 16px 0 blueviolet;
}